body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
#header-img{
    height: 8vh;
}
.header-text {
  font-family: 'Pacifico', 'Calibri', cursive;
  float: left;
}
#nav-bar {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 20px;
}
a {
  color: #000;
  text-decoration: none;
}
h2 {
    font-family: 'Open Sans', 'Euphemia', sans-serif;
    color: #000;
    font-size: 40px;
}
h5 {
    font-family: 'Open Sans', 'Euphemia', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 100;
}
#submit {
  padding: 0 10px;
  margin: 15px 0;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  width: 30%;
}
#email {
  height: 40px;
  width: 250px;
  padding: 0 10px;
  margin: 15px 0;
  font-size: 1em;
  width: 65%;
  border: 1px black solid;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#home{
  width: 100%;
  margin-top: 100px;
  background-image: radial-gradient(rgba(195,170,148,0), rgba(195,170,148,1));
  height: 100vh;
  text-align: center;
}
#home .container h2 {
  padding-top: 30px;
}
.home-img {
  width: 120%;
}
form {
  border: 1px solid black;
  background: rgba(255,255,255,0.1)
}