body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
#header-img{
    height: 8vh;
}
.header-text {
  font-family: 'Pacifico', 'Calibri', cursive;
  float: left;
  color: #F1F1F1;
}
#nav-bar {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 20px;
}
a {
  color: #F1F1F1;
  text-decoration: none;
}
h2 {
    font-family: 'Open Sans', 'Euphemia', sans-serif;
    color: #554F49;
    font-size: 40px;
    margin: 0;
    padding: 120px 0 0 0;
}
h5 {
    font-family: 'Open Sans', 'Euphemia', sans-serif;
    color: #554F49;
    font-size: 20px;
    font-weight: 100;
    margin: 20px 0;
    padding: 0;
}
#submit {
  padding: 0 10px;
  margin: 5px 0 5px 15px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
#email {
  height: 40px;
  width: 65%;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 1em;
  border: 1px #554F49 solid;
  background: transparent;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#home {
  width: 100%;
  background-image: radial-gradient(rgba(174,149,127,0.5), rgba(174,149,127,1));
  height: 100vh;
  text-align: center;
}
#home h2, #home h5 {
  color: #F1F1F1;
}
.home-img {
  width: 100%;
}
#features {
  width: 100%;
  background-color: #f1f1f1;
  background-image: url("images/background-feature.png");
  height: 100vh;
  text-align: center;
}
.grid {
  width: 10%;
  border: 1px #554F49 solid;
}